<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sDrive - Home page</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .btn-custom {
            width: 80px; 
            color: #2460e2; 
            border-color: #2460e2; 
            background-color: white; 
        }
        .btn-custom:hover {
            background-color: #2460e2; 
            color: white; 
        }
        body {
            background-image: url('/images/xFc.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
        .card {
            background-color: white; 
            opacity: 1; 
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
            border-radius: 5px; 
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="d-flex align-items-center mt-4">
            <h1 class="me-auto" style="color: white">Witaj, <%= user.firstname_users %>!</h1>
            <form action="/logout" method="POST">
                <button type="submit" class="btn btn-light ms-auto" style="color: black;">Wyloguj się</button>
            </form>
        </div>

            <!-- Sekcja powiadomień -->
            <div class="card mt-3">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="mb-0">Powiadomienia</h4>
                        <button type="button" class="btn btn-primary btn-sm" id="readNotificationsButton" data-bs-toggle="modal" data-bs-target="#readNotificationsModal">
                            Przeczytane powiadomienia
                        </button>
                    </div>
                    <ul class="list-group">
                        <% if (notifications.length > 0) { %>
                            <% notifications.forEach(function(notification) { %>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div>
                                        <strong><%= notification.head_notifications %></strong><br>
                                        <small><%= new Date(notification.date_notifications).toLocaleDateString('pl-PL', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></small>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-info btn-sm" onclick="showNotificationContent('<%= notification.id_notifications %>')">Odczytaj</button>
                                    </div>
                                </li>
                            <% }); %>
                        <% } else { %>
                            <li class="list-group-item">Nie masz żadnych powiadomień</li>
                        <% } %>
                    </ul>
                    <div class="text-center mt-3">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#messagesModal" onclick="loadConversations()">Wiadomości</button>

                    </div>
                </div>
            </div>


        <div class="row mt-3">
            <!-- Informacje o użytkowniku i znajomych -->
            <div class="col-md-4">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="container text-center">
                            <h4>Informacje użytkownika</h4>
                        </div>
                        <ul>
                            <li>Imię: <%= user.firstname_users %></li>
                            <li>Nazwisko: <%= user.lastname_users %></li>
                            <li>Email: <%= user.email_users %></li>
                            <li>Typ użytkownika: <%= user.type_users %></li>
                            <li>Data urodzenia: <%= new Date(user.dateofbirth_users).toLocaleDateString('pl-PL', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></li>
                        </ul>
                        <button type="button" class="btn btn-primary w-100 mt-3" data-bs-toggle="modal" data-bs-target="#editUserModal">Edytuj dane</button>
                    </div>                    
                </div>
                <div class="card">
                    <div class="card-body">
                        <button type="button" class="btn btn-primary w-100" id="showFriendsButton">Wyświetl listę znajomych</button>
                        <form id="friendSearchForm" class="mt-3">
                            <div class="d-flex align-items-center">
                                <input type="email" class="form-control" id="friendEmail" name="friendEmail" placeholder="Dodaj znajomego" required>
                                <button type="submit" class="btn btn-primary ms-2">Wyszukaj</button>
                            </div>
                        </form>
                        <div id="friendSearchResult" class="mt-3"></div>
                    </div>
                </div>
            </div>

<!-- Sekcja z plikami -->
<div class="col-md-8">

    <div class="card mt-3">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center">
                <h5>Magazyny</h5>
                <div>
                    <button class="btn btn-primary btn-sm me-2" data-bs-toggle="modal" data-bs-target="#addStorageModal">Utwórz</button>
                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#allStoragesModal">Twoje magazyny</button>
                    <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#sharedStoragesModal">
                        Udostępnione Tobie
                    </button>
                    
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <!-- Twoje pliki -->
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5>Twoje pliki</h5>
                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#allUserFilesModal">Pozostałe</button>
                    </div>
                    <ul class="list-group mt-2">
                        <% for (let i = 0; i < 3; i++) { %>
                            <% if (files[i]) { %>
                                <li class="list-group-item d-flex flex-column align-items-center">
                                    <div class="text-center"><strong><%= files[i].originalname_files %></strong></div>
                                    <div class="dropdown mt-2 w-100">
                                        <button class="btn btn-primary dropdown-toggle w-100" type="button" id="dropdownMenuButtonFile<%= i %>" data-bs-toggle="dropdown" aria-expanded="false">
                                            Opcje
                                        </button>
                                        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButtonFile<%= i %>">
                                            <li><a class="dropdown-item" href="/download/<%= files[i].cryptedname_files %>">Pobierz</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="editFile('<%= files[i].cryptedname_files %>')">Edytuj</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="showFileContent('<%= files[i].cryptedname_files %>')">Odczytaj</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="deleteFile('<%= files[i].cryptedname_files %>')">Usuń</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="openShareOwnFileModal('<%= files[i].cryptedname_files %>', '<%= files[i].originalname_files %>')">Wyślij</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="openRenameFileModal('<%= files[i].cryptedname_files %>', '<%= files[i].originalname_files %>')">Zmień nazwę</a></li>

                                        </ul>
                                    </div>
                                </li>
                            <% } else { %>
                                <li class="list-group-item d-flex justify-content-center align-items-center">
                                    <span class="text-muted">Brak pliku</span>
                                </li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Udostępnione Tobie pliki -->
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5>Udostępnione Tobie pliki</h5>
                        <button class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#allSharedFilesModal">Pozostałe</button>
                    </div>
                    <ul class="list-group mt-2">
                        <% for (let i = 0; i < 3; i++) { %>
                            <% if (sharedFiles[i]) { %>
                                <li class="list-group-item d-flex flex-column align-items-center">
                                    <div class="text-center"><strong><%= sharedFiles[i].truename_fshare %></strong></div>
                                    <div class="dropdown mt-2 w-100">
                                        <button class="btn btn-primary dropdown-toggle w-100" type="button" id="dropdownMenuButtonSharedFile<%= i %>" data-bs-toggle="dropdown" aria-expanded="false">
                                            Opcje
                                        </button>
                                        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButtonSharedFile<%= i %>">
                                            <li><a class="dropdown-item" href="/download/shared/<%= sharedFiles[i].file_fshare %>">Pobierz</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="showFileContent('<%= sharedFiles[i].file_fshare %>', true)">Odczytaj</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="openShareOwnFileModal('<%= sharedFiles[i].file_fshare %>', '<%= sharedFiles[i].truename_fshare %>', true)">Wyślij</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="deleteSharedFile('<%= sharedFiles[i].file_fshare %>')">Usuń</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="openRenameFileModal('<%= files[i].cryptedname_files %>', '<%= files[i].originalname_files %>')">Zmień nazwę</a></li>

                                        </ul>
                                    </div>
                                </li>
                            <% } else { %>
                                <li class="list-group-item d-flex justify-content-center align-items-center">
                                    <span class="text-muted">Brak pliku</span>
                                </li>
                            <% } %>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    

<!-- Sekcja dodawania plików -->
        <div class="card mt-3">
            <div class="card-body">
                        <div class="container text-center">
                            <h5>Dodawanie plików do konta</h5>
                        </div>
                        <form id="uploadForm" enctype="multipart/form-data" class="mt-3">
                            <div class="d-flex align-items-center">
                                <input type="file" id="file" name="file" class="form-control me-2" required>
                                <button type="submit" class="btn btn-primary">Prześlij</button>
                            </div>
                        </form>
                        <div id="uploadError" class="text-danger mt-3" style="display: none;"></div>
                        <div id="uploadSuccess" class="text-success mt-3" style="display: none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 




<!-- OKNA MODALNE -->

<!-- Modal dla udostępnionych magazynów -->
<div class="modal fade" id="sharedStoragesModal" tabindex="-1" aria-labelledby="sharedStoragesModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sharedStoragesModalLabel">Udostępnione magazyny</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <% if (sharedStorages && sharedStorages.length > 0) { %>
                    <ul class="list-group">
                        <% sharedStorages.forEach(storage => { %>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <div>
                                    <strong><%= storage.name_storages %></strong><br>
                                    Właściciel: <%= storage.firstname_users %> <%= storage.lastname_users %>
                                </div>
                                <button class="btn btn-primary btn-sm" onclick="window.location.href='/storage/<%= storage.id_storages %>'">Otwórz</button>
                            </li>
                        <% }) %>
                    </ul>                    
                <% } else { %>
                    <p>Nie udostępniono Ci żadnych magazynów.</p>
                <% } %>
            </div>
            
        </div>
    </div>
</div>





<!-- Modal z listą konwersacji -->
<div class="modal fade" id="messagesModal" tabindex="-1" aria-labelledby="messagesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="messagesModalLabel">Twoje konwersacje</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#newConversationModal">Rozpocznij nową konwersację</button>
                <ul class="list-group" id="conversationList">
                    <!-- Lista konwersacji będzie ładowana dynamicznie -->
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal do rozpoczęcia nowej konwersacji -->
<div class="modal fade" id="newConversationModal" tabindex="-1" aria-labelledby="newConversationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newConversationModalLabel">Nowa Konwersacja</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label for="recipientSelect" class="form-label">Wybierz znajomego:</label>
                <select id="recipientSelect" class="form-select">
                    <% friends.forEach(function(friend) { %>
                        <option value="<%= friend.safeid_users %>">
                            <%= friend.firstname_users %> <%= friend.lastname_users %>
                        </option>
                    <% }); %>
                </select>
                <div class="mt-3">
                    <label for="messageContent" class="form-label">Wiadomość:</label>
                    <textarea id="messageContent" class="form-control" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-primary mt-3" onclick="startNewConversation()">Wyślij</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal do wyświetlania wiadomości w konwersacji -->
<div class="modal fade" id="conversationMessagesModal" tabindex="-1" aria-hidden="true" data-codemsg="">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <!-- Pole tekstowe do wpisywania wiadomości -->
                <div class="mb-3">
                    <textarea id="newMessageContent" class="form-control" placeholder="Napisz wiadomość..."></textarea>
                    <button type="button" class="btn btn-primary mt-2" onclick="sendMessage()">Wyślij</button>
                </div>
                <!-- Lista wiadomości wyświetlana w kolejności od najnowszych do najstarszych -->
                <ul id="messageList" class="list-group flex-column-reverse">
                    <!-- Lista wiadomości będzie ładowana dynamicznie -->
                </ul>
            </div>
        </div>
    </div>
</div>



<!--Magazyny-->>
<div class="modal fade" id="addStorageModal" tabindex="-1" aria-labelledby="addStorageModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addStorageModalLabel">Dodaj magazyn</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addStorageForm">
                    <!-- Nazwa magazynu -->
                    <div class="mb-3">
                        <label for="storageName" class="form-label">Nazwa magazynu</label>
                        <input type="text" class="form-control" id="storageName" name="storageName" required>
                    </div>
                    <!-- Lista checkboxów plików -->
                    <div class="mb-3">
                        <label class="form-label">Wybierz pliki</label>
                        <div class="list-group" style="max-height: 300px; overflow-y: auto;">
                            <% allUserFiles.forEach(function(file) { %>
                                <div class="list-group-item">
                                    <input 
                                        type="checkbox" 
                                        class="form-check-input me-2 file-checkbox" 
                                        id="fileCheckbox<%= file.originalname_files %>" 
                                        name="storageFiles" 
                                        value="<%= file.originalname_files %>">
                                    <label for="fileCheckbox<%= file.originalname_files %>" class="form-check-label">
                                        <%= file.originalname_files %>
                                    </label>
                                </div>
                            <% }); %>
                        </div>
                    </div>
                    <!-- Przycisk utworzenia magazynu -->
                    <button type="submit" class="btn btn-primary">Stwórz magazyn</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- Modal Twoje magazyny -->
<div class="modal fade" id="allStoragesModal" tabindex="-1" aria-labelledby="allStoragesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="allStoragesModalLabel">Twoje magazyny</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group" id="storagesList">
                    <!-- Lista magazynów zostanie wczytana dynamicznie -->
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Modal do wyświetlania wszystkich plików użytkownika -->
<div class="modal fade" id="allUserFilesModal" tabindex="-1" aria-labelledby="allUserFilesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="allUserFilesModalLabel">Wszystkie Twoje pliki</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <% if (allUserFiles.length > 0) { %>
                        <% allUserFiles.forEach(function(file, index) { %>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <!-- Lewa strona: nazwa pliku i data -->
                                <div>
                                    <div><strong><%= file.originalname_files %></strong></div>
                                    <small class="text-muted">Data: <%= new Date(file.dateofupload_files).toLocaleDateString('pl-PL', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></small>
                                </div>
                                <!-- Prawa strona: przycisk Opcje -->
                                <div>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButtonUser<%= index %>" data-bs-toggle="dropdown" aria-expanded="false">
                                            Opcje
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonUser<%= index %>">
                                            <li><a class="dropdown-item" href="/download/<%= file.cryptedname_files %>">Pobierz</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="editFile('<%= file.cryptedname_files %>')">Edytuj</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="showFileContent('<%= file.cryptedname_files %>')">Odczytaj</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="deleteFile('<%= file.cryptedname_files %>')">Usuń</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="openShareOwnFileModal('<%= file.cryptedname_files %>', '<%= file.originalname_files %>')">Wyślij</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="openRenameFileModal('<%= file.cryptedname_files %>', '<%= file.originalname_files %>')">Zmień nazwę</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </li>
                        <% }); %>
                    <% } else { %>
                        <li class="list-group-item text-center">Brak plików do wyświetlenia</li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>




<!-- Modal do wyświetlania wszystkich udostępnionych Tobie plików -->
<div class="modal fade" id="allSharedFilesModal" tabindex="-1" aria-labelledby="allSharedFilesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="allSharedFilesModalLabel">Wszystkie udostępnione Tobie pliki</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul class="list-group">
                    <% if (allSharedFiles.length > 0) { %>
                        <% allSharedFiles.forEach(function(sharedFile, index) { %>
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <!-- Lewa strona: nazwa pliku i data -->
                                <div>
                                    <div><strong><%= sharedFile.truename_fshare %></strong></div>
                                    <small class="text-muted">Data: <%= new Date(sharedFile.date_fshare).toLocaleDateString('pl-PL', { day: '2-digit', month: '2-digit', year: 'numeric' }) %></small>
                                </div>
                                <!-- Prawa strona: przycisk Opcje -->
                                <div>
                                    <div class="dropdown">
                                        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButtonShared<%= index %>" data-bs-toggle="dropdown" aria-expanded="false">
                                            Opcje
                                        </button>
                                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButtonShared<%= index %>">
                                            <li><a class="dropdown-item" href="/download/shared/<%= sharedFile.file_fshare %>">Pobierz</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="showFileContent('<%= sharedFile.file_fshare %>', true)">Odczytaj</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="openShareModal('<%= sharedFile.file_fshare %>', '<%= sharedFile.truename_fshare %>', true)">Wyślij</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="deleteSharedFile('<%= sharedFile.file_fshare %>')">Usuń</a></li>
                                            <li><a class="dropdown-item" href="#" onclick="openRenameFileModal('<%= file.cryptedname_files %>', '<%= file.originalname_files %>')">Zmień nazwę</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </li>
                        <% }); %>
                    <% } else { %>
                        <li class="list-group-item text-center">Brak udostępnionych plików</li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="renameFileModal" tabindex="-1" aria-labelledby="renameFileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="renameFileModalLabel">Zmień nazwę pliku</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="renameFileForm">
                    <div class="mb-3">
                        <label for="newFileName" class="form-label">Nowa nazwa pliku</label>
                        <input type="text" class="form-control" id="newFileName" required>
                    </div>
                    <input type="hidden" id="fileToRename">
                    <button type="submit" class="btn btn-primary">Zmień nazwę</button>
                </form>
            </div>
        </div>
    </div>
</div>


   <!-- Modal do wyświetlania powiadomienia -->
<div class="modal fade" id="notificationContentModal" tabindex="-1" aria-labelledby="notificationContentLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <span class="navbar-brand" id="notificationContentLabel">Powiadomienie</span>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                </div>
            </nav>

            <div class="modal-body">
                <div id="notificationContent"></div>
                <!-- Przyciski Akceptuj i Odmów -->
                <div id="friendRequestActions" style="display: none;">
                    <button class="btn btn-success" id="acceptButton">Akceptuj</button>
                    <button class="btn btn-danger" id="denyButton">Odmów</button>
                </div>
            </div>

            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!-- Modal do wyświetlania listy znajomych -->
<div class="modal fade" id="friendsModal" tabindex="-1" aria-labelledby="friendsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <div class="container-fluid">
                        <span class="navbar-brand" id="friendsModalLabel">Lista znajomych</span>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                    </div>
                </nav>
                <div class="modal-body">
                    <ul id="friendsList" class="list-group"></ul> <!-- Tutaj pojawi się lista znajomych -->
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
</div>

<!-- Modal do wyświetlania informacji o znalezionym użytkowniku -->
<div class="modal fade" id="friendModal" tabindex="-1" aria-labelledby="friendModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <span class="navbar-brand" id="friendModalLabel">Znajomy</span>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                </div>
            </nav>
            <div class="modal-body">
                <p id="friendEmailInfo"></p>
                <button id="inviteButton" class="btn btn-success">Zaproś do znajomych</button>
            </div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<!-- Modal do wyświetlania zawartości pliku -->
<div class="modal fade" id="fileContentModal" tabindex="-1" aria-labelledby="fileContentLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <span class="navbar-brand" id="fileContentLabel">Zawartość pliku</span>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
                </div>
            </nav>
            <div class="modal-body">
                <div id="fileContent"></div> <!-- Tu będzie dynamicznie wczytana zawartość pliku -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Zamknij</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal z przeczytanymi powiadomieniami -->
<div class="modal fade" id="readNotificationsModal" tabindex="-1" aria-labelledby="readNotificationsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="readNotificationsLabel">Przeczytane Powiadomienia</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <ul id="readNotificationsList" class="list-group">
                    <!-- Powiadomienia będą tutaj wstawiane dynamicznie -->
                </ul>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="shareFileModal" tabindex="-1" aria-labelledby="shareFileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shareFileModalLabel">Udostępnij plik</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Wybierz znajomego, któremu chcesz udostępnić plik "<span id="fileToShareName"></span>"</p>
                <input type="hidden" id="fileToShare" />
                <select id="friendSelect" class="form-select">
                    <% if (friends && friends.length > 0) { %>
                        <% friends.forEach(function(friend) { %>
                            <option value="<%= friend.safeid_users %>">
                                <%= friend.firstname_users %> <%= friend.lastname_users %>
                            </option>
                        <% }); %>
                    <% } else { %>
                        <option>Brak znajomych do udostępnienia</option>
                    <% } %>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary" onclick="shareFile()">Wyślij</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="shareSharedFileModal" tabindex="-1" aria-labelledby="shareSharedFileModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shareSharedFileModalLabel">Udostępnij udostępniony plik</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Wybierz znajomego, któremu chcesz ponownie udostępnić plik "<span id="sharedFileToShareName"></span>"</p>
                <input type="hidden" id="sharedFileToShare" />
                <select id="sharedFriendSelect" class="form-select">
                    <% if (friends && friends.length > 0) { %>
                        <% friends.forEach(function(friend) { %>
                            <option value="<%= friend.safeid_users %>">
                                <%= friend.firstname_users %> <%= friend.lastname_users %>
                            </option>
                        <% }); %>
                    <% } else { %>
                        <option>Brak znajomych do udostępnienia</option>
                    <% } %>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                <button type="button" class="btn btn-primary" onclick="shareSharedFile()">Wyślij</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">Edytuj dane użytkownika</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="editUserForm">
                    <div class="mb-3">
                        <label for="editFirstName" class="form-label">Imię</label>
                        <input type="text" class="form-control" id="editFirstName" value="<%= user.firstname_users %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="editLastName" class="form-label">Nazwisko</label>
                        <input type="text" class="form-control" id="editLastName" value="<%= user.lastname_users %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="editEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="editEmail" value="<%= user.email_users %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="editPassword" class="form-label">Hasło</label>
                        <input type="password" class="form-control" id="editPassword" placeholder="Podaj nowe hasło" required>
                    </div>
                    <div class="mb-3">
                        <label for="editDateOfBirth" class="form-label">Data urodzenia</label>
                        <input type="date" class="form-control" id="editDateOfBirth" value="<%= user.dateofbirth_users.toISOString().slice(0, 10) %>" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Zapisz zmiany</button>
                </form>
            </div>
        </div>
    </div>
</div>


    <!-- Bootstrap JS and Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/deleteFile.js"></script>
    <script src="/js/upload.js"></script>
    <script src="/js/showfile.js"></script>
    <script src="/js/friends.js"></script>
    <script src="/js/notifications.js"></script>
    <script src="/js/respondToFriendRequest.js"></script>
    <script src="/js/fshareFile.js"></script>
    <script src="/js/fshareShared.js"></script>
    <script src="/js/messages.js"></script>
    <script src="/js/editFile.js"></script>
    <script src="/js/storages.js"></script>
    <script src="/js/rename.js"></script>
    <script src="/js/edituser.js"></script>

</body>
</html>
